
*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(images/images\ 1.jpg);
    background-position: center;
    background-size: 100% 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo { 
    width: 160px;
    cursor: pointer;
}
.logo 2{ 
    width: 160px;
    cursor: pointer;
}
.logo 3 { 
    width: 160px;
    cursor: pointer;
}
.nav{
    flex: 1;
    padding-left: 60px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;    
}
nav ul li a{
    text-decoration: none;
    color: #333;
}
.content h1{
    text-align: Left;
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    background-color: #34495e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content p{
    text-align:left;
    text-decoration: solid;
    font-size: 23px;
    color: #34495e  ;
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn{
    align-self: center;
    display: inline-block;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
